body{
    background-color: #73a98f;
}


#NavBar{

    margin: 40px;

}

#NavBar table{

    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a44656;

}

#NavBar a:link, a:visited{

    color: white;
    font-size: 50px;
    padding: 20px;
    text-decoration: none;

}

#NavBar a:hover{

    color: pink;

}

#Feed{

    margin: 20px;
    padding: 20px;
    background-color: #f16158;
    font-size: 30px;
    min-height: 65vh;
    
}

.org{

    background-color: #2893da;
    padding: 20px;
    margin: 20px;

}

.heading{
    font-weight: bold;
}

.infobutton{
    float: right;
}
