body{
    margin: 0px;
    background-color: #ffffff;
}

#slink{
    color: pink;
    text-align: center;
}

#NavBar table{

    width:100%;
    padding: 20px;
    background-color: #a44656;
    text-align: center;

}

#NavBar a:link, a:visited{

    color: white;
    font-size: 50px;
    padding: 20px;
    text-decoration: none;

}

#NavBar a:hover{

    color: pink;

}

.Feed{

    margin: 20px;
    padding: 20px;
    font-size: 30px;
    min-height: 65vh;
    background-color: khaki;

}
.container{

    width: 50%;
    background-color: black;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container input{
    
    text-align: center;

}

.org{

    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
    display: inline-block;

}

.org:hover{
    background-color: aquamarine;
}

.heading{
    font-weight: bold;
}

.infobutton{
    float: right;
}
