{% extends "main/layout.html" %}

{% block title %}

    <title>Login</title>

{% endblock %}

{% block body %}

<div class='Feed'>

    {% if message %}
    {{ message }}
    {% endif %}

    <div class="container">
        
        <form id='login' action="{% url 'main:login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" autocomplete="off">

            <br>

            <input type="password" name="password" placeholder="Password">

            <br>

            <input type="submit" value="Login">

        </form>

    </div>

    <a id='slink' href="{% url 'main:signUp' %}">Sign Up</a>

</div>

{% endblock %}