{% extends "main/layout.html" %}

{% block title %}

    <title>Sign Up</title>

    <script>

        let metadata = [];
    
        document.addEventListener('DOMContentLoaded', function() {
            
            document.querySelector("select").onchange = function() {
    
                for (i = 0; i < metadata.length; i++) {
    
                    if (metadata[i] === this.value) {
                        metadata.splice(i, 1);
                        this.options[this.selectedIndex].text = this.value.toUpperCase();
                        console.log(metadata);
                        return false;
                    }
    
                }
    
                metadata.push(this.value);
                this.options[this.selectedIndex].text = this.value.toUpperCase() + " ✅";
    
                console.log(metadata);
    
            };

            document.querySelector('form').onsubmit = submit;
    
            function submit() {
               
                document.querySelector("#metadata").value = metadata + ",";
                                
            };
        });
    
    </script>

{% endblock %}

{% block body %}

<div id='Feed'>

    <form action="{% url 'main:signUp' %}" method="POST">
        {% csrf_token %}

        <div>
            
            {% if message %}
            {{ message }}
            {% else %}
            Enter account details:
            {% endif %}            
            
        </div>

        <input type="text" name="username" placeholder="Username" autocomplete="off" required="true">

        <br>

        <input type="password" name="password" placeholder="Password" required="true">

        <input type="password" name="password2" placeholder="Re-enter Password" required="true">

        <br>

        <input type="text" name="name" placeholder="Name" autocomplete="off" required="true">

        <input type="text" name="email" placeholder="Email" autocomplete="off" required="true">     
        
        <br>

        <input type="text" name="info" placeholder="About your Organisation" autocomplete="off" size="47" required="true">

        <input type="text" name="website" placeholder="Website Link(If exists)" autocomplete="off">

        <br>

        <label for="selector">Select all that apply:</label> <br>
        <select name="selector" id="selector" required="true">
            <option value="climate">CLIMATE</option>
            <option value="equality">EQUALITY</option>
            <option value="education">EDUCATION)</option>
            <option value="environment">ENVIRONMENT</option>
        </select>

        <input type="text" name="metadata" id="metadata" value="" hidden="true">

        <input type="submit" value="Sign Up">
    </form>

</div>

{% endblock %}