{% extends "main/layout.html" %}

{% block body %}

<main class='text-center'>

    <form style="max-width: 750px;margin: auto;" action="{% url 'main:signUp' %}" method="POST">

        {% csrf_token %}
            
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% else %}
        <h1 class="h3 mb-4 fw-normal">Enter account details:</h1>
        {% endif %}            

        <div class="row g-2 mb-3">
            <div class="col-md-4 form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="off" required>
                <label for="username">Username</label>
            </div>

            <div class="col-md-4 form-floating">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" autocomplete="off" required>
                <label for="name">Name of Organisation</label>
            </div>
    
            <div class="col-md-4 form-floating">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" autocomplete="off" required>
                <label for="email">Email</label>    
            </div>
        </div>

        <div class="row g-2 mb-3">
            <div class="col-md-6 form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>

            <div class="col-md-6 form-floating">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter Password" required>
                <label for="password2">Re-enter Password</label>
            </div>
        </div>     
        
        <div class="row g-2 mb-3">
            <div class="col-md-4 form-floating">
                <input type="file" class="form-control form-control-sm" id="logo" name="logo">
                <label for="name">Logo</label>
            </div>

            <div class="col-md-4 form-floating">
                <input type="text" class="form-control" id="website" name="website" placeholder="Website Link(If exists)" autocomplete="off">
                <label for="website">Website</label>
            </div>

            <div class="col-md-4 form-floating">
                <select class="form-select" name="selector" id="selector" required>
                    <option value="climate">CLIMATE</option>
                    <option value="equality">EQUALITY</option>
                    <option value="education">EDUCATION</option>
                    <option value="environment">ENVIRONMENT</option>
                </select>
                <label for="selector">Select all that apply:</label>
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-md-12 form-floating">
                <textarea style="height: 150px;resize: none;" class="form-control" id="info" name="info" placeholder="Leave a comment here" required></textarea>
                <label for="info">About your Organisation</label>
            </div>            
        </div>       

        <input type="text" name="metadata" id="metadata" value="" hidden="true">

        <button class="w-75 btn btn-lg btn-primary" type="submit">Sign Up</button>
    </form>

</div>


<script>

    let metadata = [];

    document.addEventListener('DOMContentLoaded', function() {
        
        document.querySelector("select").onchange = function() {

            for (i = 0; i < metadata.length; i++) {

                if (metadata[i] === this.value) {
                    metadata.splice(i, 1);
                    this.options[this.selectedIndex].text = this.value.toUpperCase();
                    console.log(metadata);
                    return false;
                }

            }

            metadata.push(this.value);
            this.options[this.selectedIndex].text = this.value.toUpperCase() + " ✅";

            console.log(metadata);

        };

        document.querySelector('form').onsubmit = submit;

        function submit() {
           
            document.querySelector("#metadata").value = metadata + ",";
                            
        };
    });

</script>

{% endblock %}